#cs1300-gallery {
  background-color: lightblue;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */

img {
  width: 300px;
}

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  flex-wrap: wrap;

}

.gallery-item {
  border-radius: 25px;
}

#fruit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fruit-item {
  background-color: rgba(80, 188, 255, 0.72);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;

}
